
	.block{
		background: #eeeeee;
		margin:0;
		width: 298px;
		height: 298px;
		display: block;
		padding: 0;
		border: 1px solid black;
	}
	
	#isotope{
		/*background: pink;*/
	}	

	
	
	h1{
		margin-bottom:0px;
	}
	h3{
		margin-bottom:0px;
	}
	
	.featureimage{
		background: pink;
	}
	
	.feature{
		overflow:hidden;
		width: 100%;
		height: auto;
	}
	
	.userimages{
		background: green;
	}
	
	.bio{
		padding: 10px 20px;
	}
	
	
	
	.badges{
		list-style-type:none;
		margin:0;
		padding: 10px 20px;
		overflow:hidden;
	}
	
	.badges li{
		background: #ffffff;
		width: 55px;
		height: 35px;
		float: left;
		margin-left: 0;
		margin-right: 10px;
		font-size: 11px;
		padding: 5px;
	}
	


	/*responsive attributes*/
	@media (max-width:768px) {
		/*.block{
			width: 298px;
		}*/		
	}


	@media (max-width:480px) {
		/*.block{
			width: 158px;
		}*/
	}




	@media (min-width:320px) {
		/* smartphones, iPhone, portrait 480x320 phones */ 
		
		

	}

	@media (min-width:481px) {
		/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
		
	}

	@media (min-width:641px) {
		/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
		

	}

	@media (min-width:768px) {
		/* tablet, portrait iPad */
		
	}


	@media (min-width:961px) {
		/* tablet, landscape iPad, lo-res laptops ands desktops */
		
	}

	@media (min-width:1025px) {
		/* big landscape tablets, laptops, and desktops */
		
	}

	@media (min-width:1281px) {
		/* hi-res laptops and desktops */

	}	
	