
path {
  stroke-width: 1.5px;
}

.small {
  fill: steelblue;
}

.big {
  stroke: #666;
  fill: #ddd;
}

.small:hover {
  stroke: steelblue;
  fill: lightsteelblue;
}

.test{
    padding:30px
}


#progress{
    position: relative;
	left: 8px;
	top: 8px;
}

.progresschart{
    background: white;
    border-radius:100px;
    width: 100px;
    height: 100px;
    overflow:hidden;
    border: 1px solid grey;
    margin-top:5px;
	left: 5px;
	position: relative;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.progresslabels{
    position: absolute;
    top: 0px;
    left: 0;    
}


	